<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fasse_back.foodcomposition.mapper.FoodCompositionMapper">
    <select id="findAll" resultType="com.example.fasse_back.foodcomposition.model.FoodComposition">
        select
            food_group,
            food_no,
            search_no,
            food_nm,
            refuse,
            enerc,
            enerc_kcal,
            water,
            protcaa,
            prot,
            fatnlea,
            chole,
            fat,
            choavlm,
            choavlm_add,
            choavl,
            choavldf,
            choavldf_add,
            fib,
            polyl,
            chocdf,
            oa,
            ash,
            na,
            k,
            ca,
            mg,
            p,
            fe,
            zn,
            cu,
            mn,
            blank,
            id,
            se,
            cr,
            mo,
            retol,
            carta,
            cartb,
            crypxb,
            cartbeq,
            vita_rae,
            vitd,
            tocpha,
            tocphb,
            tocphg,
            tocphd,
            vitk,
            thia,
            ribf,
            nia,
            ne,
            vitb6a,
            vitb12,
            fol,
            pantac,
            biot,
            vitc,
            alc,
            nacl_eq,
            memo
        from
            m_food_composition
    </select>
</mapper>